body{
    margin: 0;
    background-color: #fff;
}

main{
    width: 500px;
    margin: 40px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    border: 1px solid lightgray;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 5px 10px;
    box-sizing: content-box;
    margin: 0 auto 0 20px ;
}

select option{
    text-transform: capitalize;
}

.color-picker{
    border: none;
    background-color: #fff;
    height: 30px;
    box-sizing: border-box;
}

.color-picker::-webkit-color-swatch-wrapper {
	padding: 0;
    
}
.color-picker::-webkit-color-swatch {
    border-radius: 5px;
}

.palete{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color-container{
    height: 300px;
}

.color-column{
    cursor: pointer;
}

.color-column:nth-child(1) .color-container {
    background-color: #1F157A;
  }
  
  .color-column:nth-child(2) .color-container {
    background-color: #2A1CA7;
  }
  
  .color-column:nth-child(3) .color-container {
    background-color: #3421D4;
  }
  
  .color-column:nth-child(4) .color-container {
    background-color: #5646E3;
  }
  
  .color-column:nth-child(5) .color-container {
    background-color: #7E71EA;
  }

  .hex-name{
    cursor: pointer;
  }

  .tooltip{
    position: absolute;
    background-color: #000;
    transform: translate(-50%, -130%);
    color: #fff;
    padding: 0.3em 0.6em;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: #000 #0000 #0000 #0000;
}

  @media (max-width: 768px) {
    main{
        width: 80vw;
    }

  .palete{
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 1fr);
  }

  .color-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .color-container{
    height: 60px;
    width: 50vw;
  }

  .hex-name{
    width: 12vw;
    margin:0 5vw;
  }
}