body{
    margin: 0;
    background-color: #fff;
}

main{
    width: 500px;
    margin: 40px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    border: 1px solid lightgray;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 5px 10px;
    box-sizing: content-box;
    margin: 0 auto 0 20px ;
}

select option{
    text-transform: capitalize;
}

.color-picker{
    border: none;
    background-color: #fff;
    height: 30px;
    box-sizing: border-box;
}

.color-picker::-webkit-color-swatch-wrapper {
	padding: 0;
    
}
.color-picker::-webkit-color-swatch {
    border-radius: 5px;
}

.palete{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.color-container{
    height: 300px;
}

.color-column{
    cursor: pointer;
}

.color-column:nth-child(1) .color-container {
    background-color: #1F157A;
  }
  
  .color-column:nth-child(2) .color-container {
    background-color: #2A1CA7;
  }
  
  .color-column:nth-child(3) .color-container {
    background-color: #3421D4;
  }
  
  .color-column:nth-child(4) .color-container {
    background-color: #5646E3;
  }
  
  .color-column:nth-child(5) .color-container {
    background-color: #7E71EA;
  }

  .hex-name{
    cursor: pointer;
  }

  @media (max-width: 768px) {
    main{
        width: 80vw;
    }
  }